<h1><%= @list.id ? 'Edit list' : 'Create list' %></h1>
<hr/>

<%= form_for [@board, @list] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>
  <br/>
  <%= f.submit %>
<% end %>