<h1><%= @list.title %></h1>
<hr />

<h2>Tasks</h2>
<%= link_to 'Add a new task', new_list_task_path(@list) %>
<br />
<ul>
  <% @list.tasks.by_priority.each do |task| %>
    <li>
      <%= task.body %>
      <%= task.priority %>
      <p>
        <%= link_to 'edit task', edit_list_task_path(@list, task) %>
        <%= link_to 'delete task', list_task_path(@list, task), method: :delete %>
      </p>
    </li>
  <% end %>
</ul>
