<h1>Board: <%= @board.title %></h1>
<%= link_to 'Edit board', edit_board_path(@board) %>
<%= link_to 'Delete board', board_path(@board), method: :delete %>
<hr />

<h2>Lists</h2>
<%= link_to 'Create a new list', new_board_list_path(@board) %>
<br />
<Ol>
  <% @board.lists.each do |list| %>
    <li>
      <%= list.title %>
      <p>
        <%= link_to 'Show tasks', board_list_path(@board, list) %>
        <%= link_to 'edit list', edit_board_list_path(@board, list) %>
        <%= link_to 'delete list', board_list_path(@board, list), method: :delete %>
      </p>
    </li>
  <% end %>
</Ol>

